@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Pacifico&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:crimson;
}
header {
    background-color:darkslategrey;
    padding: 20px;
    text-align: center;
}
h1 {
    color:chocolate;
    font-family: 'Pacifico', cursive;
    
}
.Score{
    margin: 20px auto;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    color: azure;
    font-size: 30px;
    position: relative;
    height: 50px;
}
.badge {
    background:lavender;
    color:black;
    font-size: 30px;
    padding: 5px 5px;
    font-family:'Playfair Display', serif;
    
}
#user{
    position: absolute;
    box-sizing:border-box;
    left: -50px;
}
#computer{
    position: absolute;
    box-sizing: border-box;
    right: -50px;
}
.result{
    font-size: 40px;
    color:khaki;
    box-sizing: border-box;
    text-align: center;
}
.result > p {
    text-align: center;
    font-weight: bolder;
}

.choices{
    margin: 100px;
    text-align:center;
    display:inline-block;
    border:5px solid black;
    border-radius: 25px;
    padding: 15px;
    transition: all 0.5s ease;
}

.choices:hover{
    cursor: pointer;
    background: cornflowerblue;
}
#act{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 100px;
    color:whitesmoke;
}